.image{
    width: 400px;
    height: 400px;
    position: relative;
    align-items: center;
}

.top{
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(32, 32, 32);
}

h1{
    text-decoration: none;
    font-size: 50px;
}

h2{ 
    text-align: center;
}

a {
    color: white;
}

.specs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E0E0E0;
    position:sticky;
    font-size: 20px;
    text-decoration:solid;
    
    
}

.product{
    background-color: rgb(48, 47, 47);
    padding: 10px;
    margin: 20px;
    width: auto;
    border-radius: 10px;
    align-items: center;
}

.footer{
    color: gray;
    text-align: center;
}

.tag{
    color: #ababab;
    text-align: center;
    font-size: 30px;
}

.buynow {
    position: static;
    display: block;
    text-align: center;

}


.whyc{
    background-color: rgb(41, 41, 41);
    font-size: larger;
    border-radius: 20px;
    height: 650px;
    width: 990px;
    margin: 0 auto;
}

.whyp{
    text-align: center;
    position: relative;
    font-size: 23px;
    color: #E0E0E0;
}

.whyq{
    color: #E0E0E0;
    position: relative;
    font-size: 45px;
    text-decoration: underline;
    font-weight: 900;
    text-align: center;

}

.final{
    position: relative;
    text-align: center;
    font-size: 37px;
    font-weight: 900;
    color: #E0E0E0;
}

.pics{
    display: blocks;
    position: relative;
    height: auto;
    width: auto;

}
